<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>DepartmentFilter</filter-name>
  	<display-name>DepartmentFilter</display-name>
  	<description></description>
  	<filter-class>com.stusys.filter.DepartmentFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>DepartmentFilter</filter-name>
  	<url-pattern>/DepartmentFilter</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.stusys.stu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentCourseServlet</servlet-name>
  	<display-name>StudentCourseServlet</display-name>
  	<description></description>
  	<servlet-class>com.stusys.servlet.StudentCourseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentSelectCourseServlet</servlet-name>
  	<display-name>StudentSelectCourseServlet</display-name>
  	<description></description>
  	<servlet-class>com.stusys.servlet.StudentSelectCourseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStudentServlet</servlet-name>
  	<display-name>AddStudentServlet</display-name>
  	<description></description>
  	<servlet-class>com.stusys.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetDepartmentsServlet</servlet-name>
  	<display-name>GetDepartmentsServlet</display-name>
  	<description></description>
  	<servlet-class>com.stusys.servlet.GetDepartmentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherServlet</servlet-name>
  	<display-name>TeacherServlet</display-name>
  	<description></description>
  	<servlet-class>com.stusys.servlet.TeacherServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CourseServlet</servlet-name>
  	<display-name>CourseServlet</display-name>
  	<description></description>
  	<servlet-class>com.stusys.servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentCourseServlet</servlet-name>
  	<url-pattern>/StudentCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentSelectCourseServlet</servlet-name>
  	<url-pattern>/StudentSelectCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudentServlet</servlet-name>
  	<url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetDepartmentsServlet</servlet-name>
  	<url-pattern>/GetDepartmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherServlet</servlet-name>
  	<url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CourseServlet</servlet-name>
  	<url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
</web-app>
